---

---

<section class="home-contact">
  <h2>Get In Touch With Me!</h2>
  <p>
    I want to hear from you! Get in touch with your feedback, suggestions, and
    other interesting ideas.
  </p>
  <a href="/contact" class="primary-button">Contact Me</a>
</section>

<style lang="scss">
  @import "../../styles/partials/shared/buttons.scss";

  .home-contact {
    padding: 2rem;
    background-color: var(--outer-space-3);
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 0.5rem;

    h2 {
      margin-top: 0;
    }
  }
</style>
