---
const response = await fetch('/api/images/techStackIcons');
const data = await response.json();
---

<section class="stack">
  <ul>
    { }
    
  </ul>
</section>

<style lang="scss">
  .stack {
    padding: 1rem; 
    max-width: 1024px;
    margin: 0 auto;
  }
</style>