<section class="hero flex flex-wrap justify-center items-center">
  <div class="hero-img-container">
    <img
      class="hero-img"
      src="https://npjmxgrfqyrxnbnmltws.supabase.co/storage/v1/object/public/images/homeheroimage.webp?t=2023-06-18T20%3A21%3A25.822Z"
      width="488"
      height="488 "
      alt="A photo of Austin Engelbrecht outside"
    />
  </div>

  <div class="hero-about">
    <img
      class="hero-about-img"
      src="https://npjmxgrfqyrxnbnmltws.supabase.co/storage/v1/object/public/images/svg/title_graphic.svg?t=2023-09-17T06%3A03%3A56.014Z"
      alt="Graphic displaying 'Hi, I'm Austin'"
      width="500"
      height="311"
      aria-hidden="true"
    />

    <p class="hero-about-content">
      While getting my Information Science & Technology degree, I found my
      passion for building websites and working in front-end code. I am a
      self-motivated developer striving to improve my skills, whether it's
      through online courses, attending conferences, or working on personal
      projects, I am constantly striving to learn and grow as a developer.
    </p>

    <a href="/aboutme" class="primary-button">More About Me</a>
  </div>
</section>

<style lang="scss" scoped>
  @import "../../styles/partials/shared/buttons.scss";

  .hero {
  gap: 64px;
  margin: 8rem auto 5rem;
  max-width: 1200px;
  padding: 0 1rem 2rem;

  &-about {
    max-width: 500px;

    &-img {
      max-width: 100%;
      height: auto;
      margin-bottom: 16px;
    }
  }

  &-img {
    position: relative;
    border-radius: 8px;
    z-index: 1;
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 1080px) {
    margin: 5rem auto;
  }
}
</style>
