---
import { Image } from "astro:assets";

const response = await fetch(Astro.url.origin  + '/api/images/techStackIcons');
const data = await response.json();
data.sort((a, b) => {
  const altA = a.alt.toLowerCase();
  const altB = b.alt.toLowerCase();

  if (altA < altB) {
    return -1;
  }
  if (altA > altB) {
    return 1;
  }
  return 0;
});
---

<section class="stack">
  <div class="marquee">
    <ul class="marquee-content">
      { 
        data.map((img) => (
          <li class="">
            <img src={img.src} alt={img.alt} width="50" height="50"/> 
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  .stack {
    padding: 1rem; 
    max-width: 1024px;
    margin: 0 auto;

    
  }

  .marquee {
    width: 100%;

    &:before, &:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

    &-content {
      display: flex;
      gap: 1rem; 
    }
  }
</style>