---
import { Image } from "astro:assets";

const response = await fetch(Astro.url.origin  + '/api/images/techStackIcons');
const data = await response.json();
data.sort((a, b) => {
  const altA = a.alt.toLowerCase();
  const altB = b.alt.toLowerCase();

  if (altA < altB) {
    return -1;
  }
  if (altA > altB) {
    return 1;
  }
  return 0;
});
---

<section class="stack">
  <ul>
    { 
      data.map((img) => (
        <li>
          <img src={img.src} alt={img.alt} width="100" height="100"/> 
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  .stack {
    padding: 1rem; 
    max-width: 1024px;
    margin: 0 auto;
  }
</style>