.primary-button {
  background-color: var(--outer-space-1);
  padding: 0 0 0 1.5rem;
  border: 1px solid var(--primary);
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease-in;
  color: var(--content);
  text-decoration: none;

  &::after {
    display: inline-block;
    content: "";
    height: 40px;
    width: 40px;
    background-color: var(--primary);
    border-radius: 100%;
    margin-left: 0.75rem;
    background-image: url("../../assets/svg/arrow-right-dark.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: var(--primary);
    color: var(--outer-space-1);
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &:active {
    transform: translateY(0px);
    box-shadow: none;
    background-color: var(--primary-dark);
    transition: transform 0s;

    &::after {
      background-color: var(--primary-dark);
    }
  }
}

.secondary-button {
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  color: var(--outer-space-1);
  border-radius: 8px;
  text-decoration: none;

  transition: all 0.25s ease-in-out;

  &:hover,
  &:focus {
    transform: translateY(-2px);
    background-color: var(--secondary-dark);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &:active {
    transform: translateY(0);
    transition: all 0s;
    background-color: var(--secondary);
  }
}
