<ul class="menu">
  <li>
    <a class="menu-link" href="/aboutme">About Me</a>
  </li>
  <li>
    <a class="menu-link" href="/contact">Contact</a>
  </li>
</ul>

<style lang="scss">
  .menu {
    display: flex;
    gap: 2rem;

    &-link {
      text-decoration: none;
      color: #efedff;

      &:hover,
      &:focus {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
</style>
