---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Fount | Austin Engelbrecht">
  <div class="not-found">
    <img
      src="https://npjmxgrfqyrxnbnmltws.supabase.co/storage/v1/object/public/images/svg/sitelogo.svg"
      alt="Austin Engelbrecht Site Logo"
      width="200"
      height="84"
      aria-hidden="true"
      class="mb-4"
    />
    <p>Sorry, but the page you are looking for doesn't exist</p>
    <a href="/">Home</a>
  </div>
</Layout>

<style lang="scss">
  body {
    background-color: #03001c;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #efedff;
  }

  a {
    color: #efedff;
  }

  .not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
