---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Me | Austin Engelbrecht">
  <section class="contact">
    <div class="contact-header">
      <h1>Contact Me</h1>
      <p>
        Hey there! I'd love to hear from you! If you have any questions,
        suggestions, or just want to say hi, drop me a message by filling out
        the form below.
      </p>
    </div>

    <form class="contact-form">
      <label for="name" class="contact-form-label">
        <span>Name</span>
        <input
          id="name"
          class="contact-form-input"
          type="text"
          name="name"
          placeholder="Your Name"
          type="text"
          required
        />
      </label>
      <label for="email" class="contact-form-label">
        <span>Email</span>
        <input
          id="email"
          class="contact-form-input"
          type="text"
          name="email"
          placeholder="Your Name"
          type="email"
          required
        />
      </label>
      <label for="message" class="contact-form-label">
        <span>Message</span>
        <textarea
          id="message"
          class="contact-form-input"
          placeholder="Your Message"
          required></textarea>
      </label>

      <button>Send Message</button>
    </form>
  </section>
</Layout>

<style lang="scss">
  .contact {
    max-width: 700px;
    padding: 4rem 1rem 1rem;
    margin: 0 auto;

    @media (max-width: 700px) {
      padding: 2rem 1rem 1rem;
    }

    &-header {
      margin-bottom: 4rem;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-label {
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;

        > span {
          margin-bottom: 0.25rem;
        }
      }

      &-input {
        padding: 0.5rem;
        border-radius: 4px;
      }
    }
  }
</style>
