---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Me | Austin Engelbrecht">
  <h1>Contact Me</h1>
  <p>
    Hey there! I'd love to hear from you! If you have any questions,
    suggestions, or just want to say hi, drop me a message by filling out the
    form below.
  </p>

  <form></form>
</Layout>
