---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Me | Austin Engelbrecht">
  <section class="contact">
    <div class="contact-header">
      <h1>Contact Me</h1>
      <p>
        Hey there! I'd love to hear from you! If you have any questions,
        suggestions, or just want to say hi, drop me a message by filling out
        the form below.
      </p>
    </div>

    <form class="contact-form">
      <label for="name" class="contact-form-label">
        Name
        <input
          id="name"
          class="contact-form-input"
          type="text"
          name="name"
          placeholder="Your Name"
          type="text"
        />
      </label>
      <label for="email" class="contact-form-label">
        Email
        <input
          id="email"
          class="contact-form-input"
          type="text"
          name="email"
          placeholder="Your Name"
          type="email"
        />
      </label>
      <label for="message" class="contact-form-label">
        Message
        <textarea
          id="message"
          class="contact-form-input"
          placeholder="Your Message"></textarea>
      </label>

      <button>Send Message</button>
    </form>
  </section>
</Layout>

<style lang="scss">
  .contact {
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;

    &-header {
      margin-bottom: 4rem;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-label {
        display: flex;
        flex-direction: column;
      }

      &-input {
        padding: 0.5rem;
        border-radius: 4px;
      }
    }
  }
</style>
