---
import Layout from "../layouts/Layout.astro";
import PhotoGallery from "../components/work/PhotoGallery.astro";
---

<Layout title="Testing Page">
  <section>
    <h1>Test Page</h1>
    <PhotoGallery />
  </section>
</Layout>
