---
import Layout from "../layouts/Layout.astro";

import WorkCard from "../components/WorkCard.astro";
---

<Layout title="Work | Austin Engelbrecht">
  <section>
    <ul class="flex flex-row gap-8">
      <li>
        <WorkCard />
      </li>
      <li>
        <WorkCard />
      </li>
    </ul>
  </section>
</Layout>
