---
import Layout from "../layouts/Layout.astro";

import WorkCard from "../components/WorkCard.astro";
---

<Layout title="Work | Austin Engelbrecht">
  <section>
    <WorkCard />
  </section>
</Layout>