---
import HomeProjectsCard from "./projects/HomeProjectsCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
projects.sort(
  (a, b) =>
    Date.parse(b.data.date.toISOString()) -
    Date.parse(a.data.date.toISOString())
);
---

<section class="projects">
  <h2>Recent Projects</h2>

  <ul class="projects-list">
    {
      projects.slice(0, 3).map((page) => (
        <li class="projects-list-item">
          <HomeProjectsCard
            url={"/projects/" + page.slug}
            title={page.data.title}
            description={page.data.description}
            previewImg={page.data.previewImg}
            tech={page.data.tech}
          />
        </li>
      ))
    }
  </ul>

  <a href="/projects">View All Projects</a>
</section>

<style lang="scss">
  .projects {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;

    &-list {
      // display: flex;
      // flex-flow: row wrap;
      // gap: 1rem;
      margin-bottom: 1rem;
    }
  }
</style>
