---
import { Image } from "astro:assets";
import bookOpen from "../assets/svg/homepage/book-open-line.svg";
import codeLine from "../assets/svg/homepage/code-line.svg";
---

<section class="intro">
  <div class="intro-block">
    <Image src={codeLine} alt="" />
    <h3>Web Dev</h3>
    <p>Lorem Ipsum</p>
  </div>

  <div class="intro-block">
    <Image src={codeLine} alt="" />
    <h3>Lorem Ipsum</h3>
    <p>Lorem Ipsum</p>
  </div>

  <div class="intro-block">
    <Image src={bookOpen} alt="" />
    <h3>Always Learning</h3>
    <p>Lorem Ipsum</p>
  </div>
</section>

<style lang="scss">
  .intro {
    display: flex;
    gap: 2rem;
    justify-content: center;

    &-block {
      h3 {
        margin-top: 0;
      }
    }
  }
</style>
