---
import SectionHeader from "./SectionHeader.astro";
import HomeProjectsCard from "./projects/HomeProjectsCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<section>
  <h2>Recent Projects</h2>

  <ul>
    <li>
      {
        projects
          .slice(0, 4)
          .map((page) => (
            <HomeProjectsCard
              url={"/projects/" + page.slug}
              title={page.data.title}
              description={page.data.description}
              previewImg={page.data.previewImg}
              tech={page.data.tech}
            />
          ))
      }
    </li>
  </ul>
</section>
