---

---

<section class="intro">
  <div>
    <h3>Web Dev</h3>
    <p>Lorem Ipsum</p>
  </div>

  <div>
    <h3></h3>
    <p>Lorem Ipsum</p>
  </div>

  <div>
    <h3>Always Learning</h3>
    <p>Lorem Ipsum</p>
  </div>
</section>

<style lang="scss">
  .intro {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
</style>
