---
import SectionHeader from "./SectionHeader.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("work");
---

<section>
  <SectionHeader title="Recent Projects" />
</section>
