---
const { galleryData } = Astro.props;
---

<section>
  <div>
    <img src="" alt="" />
    <button></button>
    <button></button>
  </div>

  <ul>
    <li>
      <button>
        <img src="" alt="" />
      </button>
    </li>
  </ul>
</section>

<script></script>

<style lang="scss"></style>
