---
const { dataLink } = Astro.props;

console.log(Astro.url + "/data/accountMessagesImages.json");

let data;

// if (dataLink) {
//   const reponse = await fetch();
//   data = await reponse.json();
// } else {
//   data = false;
// }
---

<section>
  {
    data && (
      <>
        <div>
          <img src="" alt="" />
          <button type="button" id="prev" />
          <button type="button" id="next" />
        </div>

        <ul>
          {data.map((img, index) => (
            <li>
              <button type="button" id={`gallery-${index}`}>
                <img src={img.src} alt={img.alt} />
              </button>
            </li>
          ))}
        </ul>
      </>
    )
  }
</section>

<script>
  let index = 0;
</script>

<style lang="scss"></style>
