---
const { dataLink } = Astro.props;

// console.log(Astro.url.origin + "/api");

const reponse = await fetch(Astro.url.origin + dataLink);
const data = await reponse.json();
---

<div>
  {
    data && (
      <section class="gallery">
        <div class="gallery-primary">
          <img src="" alt="" />

          <div class="gallery-primary-controls">
            <button type="button" id="prev">
              <span class="sr-only">Previous Image</span>
            </button>
            <button type="button" id="next">
              <span class="sr-only">Next Image</span>
            </button>
          </div>
        </div>

        <ul>
          {data.map((img, index) => (
            <li>
              <button type="button" id={`gallery-${index}`}>
                <img src={img.src} alt={img.alt} />
              </button>
            </li>
          ))}
        </ul>
      </section>
    )
  }
</div>

<script>
  let index = 0;
</script>

<style lang="scss">
  .gallery {
    display: flex;

    &-primary {
      position: relative;

      &-controls {
        position: absolute;
        right: 8px;
        bottom: 12px;
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>
