<ul class="menu">
  <li>
    <a class="menu-link" href="/aboutme">About Me</a>
  </li>
</ul>

<style lang="scss">
.menu {
  &-link {
    text-decoration: none;
    color: #efedff;

    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
</style>