<a href="#" class="text-content ">
  <img src="" alt="" width="" height="" aria-hidden="true"/>

  <div>
    <h2 class="card-title">This is project title</h2>
    <p>A short description of the project</p>
  </div>
</a>

<style>
.card {
  text-decoration: none;

  &:hover {
    .card-title {
      text-decoration: underline;
    }
  }
}
</style>