<a href="#" class="card text-content bg-space-3 block">
  <img
    class="card-img"
    src="https://npjmxgrfqyrxnbnmltws.supabase.co/storage/v1/object/public/images/work/Account_Messages.webp?t=2023-08-06T05%3A54%3A08.666Z"
    alt="Img alt text"
    width=""
    height=""
    aria-hidden="true"
  />

  <div class="card-info">
    <h2 class="card-info-title">This is project title</h2>
    <p>A short description of the project</p>
  </div>
</a>

<style lang="scss">
  .card {
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 1px 1px black;
    transition: all 0.2s ease-in-out;

    &:hover {
      .card-info-title {
        text-decoration: underline;
      }

      box-shadow: 8px 8px black;
      transform: translateY(-2px);
    }

    &-img {
      height: auto;
      width: 100%;
      border-radius: 8px;
    }

    &-info {
      padding: 0.5rem 1rem 1.5rem 1rem;
    }
  }
</style>
