<a href="#" class="text-content">
  <img src="" alt="" width="" height="" aria-hidden="true"/>

  <div>
    <h2>This is project title</h2>
    <p>A short description of the project</p>
  </div>
</a>

<style>

</style>