---
import Layout from "../../layouts/Layout.astro";
import ProjectsCard from "../../components/projects/ProjectsCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
projects.sort(
  (a, b) =>
    Date.parse(b.data.date.toISOString()) -
    Date.parse(a.data.date.toISOString())
);
---

<Layout title="Work | Austin Engelbrecht">
  <section class="projects">
    <h1>Projects</h1>
    <ul class="projects-list">
      {
        projects.map((page) => (
          <ProjectsCard
            url={"/projects/" + page.slug}
            title={page.data.title}
            description={page.data.description}
            previewImg={page.data.previewImg}
            tech={page.data.tech}
          />
        ))
      }
    </ul>
  </section>
</Layout>

<style lang="scss">
  .projects {
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem 1rem 0;

    &-list {
      margin-bottom: 1rem;
    }
  }
</style>
