---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const pages = [
    { id: "page1", title: "Page 1" },
    { id: "page2", title: "Page 2" },
    { id: "page3", title: "Page 3" },
  ];

  return pages.map(({ id, title }) => {
    return {
      params: { workid: id },
      props: { title: title },
    };
  });
}

const { workid } = Astro.params;
const { title } = Astro.props;
---

<Layout title={title}>
  <h1>{title}</h1>

   Here is some more test content
</Layout>
