---
import Layout from "../../layouts/Layout.astro";
import ProjectsCard from "../../components/projects/ProjectsCard.astro";

import { getCollection } from "astro:content";
const work = await getCollection("projects");
work.sort(
  (a, b) =>
    Date.parse(b.data.date.toISOString()) -
    Date.parse(a.data.date.toISOString())
);
---

<Layout title="Work | Austin Engelbrecht">
  <section class="work">
    <h1>Work Projects</h1>
    <ul class="work-list">
      {
        work.map((page) => (
          <ProjectsCard
            url={"/work/" + page.slug}
            title={page.data.title}
            description={page.data.description}
            previewImg={page.data.previewImg}
            tech={page.data.tech}
          />
        ))
      }
    </ul>
  </section>
</Layout>

<style lang="scss">
  .work {
    max-width: 1024px;
    margin: 0 auto;
    padding: 4rem 1rem 0;

    &-list {
      margin-bottom: 1rem;
    }
  }
</style>
