---
import SiteFooter from "../components/layout/SiteFooter.astro";
import Header from "../components/layout/SiteHeader.astro";

const { title = "Austin Engelbrecht | Web Dev" } = Astro.props;
---

<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta
      name="description"
      content="Austin is a Web Developer, who is always leveling up, one day at a time."
    />

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />

    <meta name="rating" content="General" />
  </head>
  <body>
    <Header />

    <main class="main-content">
      <slot />
    </main>

    <SiteFooter />
  </body>
</html>

<style is:global lang="scss">
  @import "../styles/global";

  html,
  body {
    background-color: #03001c;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #efedff;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .main-content {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 4rem;
  }
</style>
